# Object files
*.o

# Static libraries
*.a

# Build directories
objects/
obj/

# Debug artifacts
*.dSYM/

# Executables
push_swap
checker_linux
checker_Mac

# Temporary / editor files
*~
*.swp
*.swo

# Subject files
en.subject.pdf
